<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button text="volver" defaultHref="tab1"></ion-back-button>
        
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="verToast()">
          <ion-icon slot="icon-only" name="md-football"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        TRIVIA
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content  color="danger" padding>
      <h2>¿Quien ganará la Champions League?</h2>
      

      <ion-list>
          <ion-radio-group radio-group [(ngModel)]="sexo" (ionChange)="actualizarSexo()">
            <ion-list-header>
              <ion-label>VOTA!</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Liverpool</ion-label>
              <ion-radio slot="start" value="Liverpool" checked></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Tottenham</ion-label>
              <ion-radio slot="start" value="Tottenham"></ion-radio>
            </ion-item>
        
           
          </ion-radio-group>
        </ion-list>
    </ion-content>
    



    <ion-footer>
      <ion-item>
        <ion-label>Mostrar Mensaje</ion-label>
        <ion-checkbox [(ngModel)]="mostrarMensaje" Mostrar Mensaje></ion-checkbox>
      </ion-item>
    </ion-footer>