<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button text="volver" defaultHref="tab1"></ion-back-button>
        
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="verToast()">
          <ion-icon slot="icon-only" name="md-football"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Deportes - EUROPA LEAGUE
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-card>
        <ion-img src="assets/imagenes/arsenal.jpg">
    
        </ion-img>
        <ion-card-header>
          <ion-card-title>
              Demasiado Arsenal para el Valencia
          </ion-card-title>
          <ion-card-subtitle>
            

El 1-0 de Gameiro fue esperanzador, pero los de Emery, liderados por un ataque mortal lograron el pase y jugarán la final ante el Chelsea.

          </ion-card-subtitle>
    
        </ion-card-header>
    
        
      </ion-card>
      <ion-card>
        <ion-img src="assets/imagenes/chelsea.jpg">
    
        </ion-img>
        <ion-card-header>
          <ion-card-title>
              Chelsea supera al Eintracht en penales y se cita con Arsenal en la final de la Europa League 
          </ion-card-title>
          <ion-card-subtitle>
              Chelsea superó al Eintracht Frankfurt por penales y se metió en la final de la UEFA Europa League donde se medirá ante al Arsenal.

              A los 28 minutos abrió el marcador Ruben Loftus-Cheek, que le daba la clasificación a los Blues, pero Luka Jovic igualó la cuenta a los 49' tras una gran jugada con Mijat Gaćinović donde dejaron pagando a David Luiz.
              El empate 1-1 se mantuvo por 90 minutos, mismo resultado de la ida, y el encuentro se fue al alargue. Ambos equipos intentaron desequilibrar, pero todo se definió en penales.
              Martin Hinteregger y Gonçalo Paciência fallaron para el cuadro alemán, mientras que Hazard aprovechó la oportunidad para poner el 4-3 y la clasificación. Chelsea y Arsenal disputarán la final de la Europa League el 29 de mayo.
          </ion-card-subtitle>
    
        </ion-card-header>
     
        
      </ion-card>
      <ion-card>
        <ion-img src="assets/imagenes/baku.jpg">
    
        </ion-img>
        <ion-card-header>
          <ion-card-title>
            La final será el próximo 29 de mayo del 2019
          </ion-card-title>
          <ion-card-subtitle>
            El escenario será su estadio Olímpico, con capacidad para recibir a unos 70.000 espectadores. 
            El recinto está situado cerca de la orilla del Lago Boyukshor.
          </ion-card-subtitle>
    
        </ion-card-header>
     
        
      </ion-card>
    
    
    
    </ion-content>