<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-back-button text="volver" defaultHref="tab1"></ion-back-button>
      
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="verToast()">
        <ion-icon slot="icon-only" name="md-football"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Deportes - CHAMPIONS LEAGUE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-image">
  <ion-card>
    <ion-img src="assets/imagenes/tote.jpg">

    </ion-img>
    <ion-card-header>
      <ion-card-title>
        Noche soñada para el Tottenham
      </ion-card-title>
      <ion-card-subtitle>
        Con un gol en el 90+6', Lucas Moura completó un 'hat-trick' que sirvió para que los londinenses vayan a disputar su primera final #UCL.
      </ion-card-subtitle>

    </ion-card-header>
  
    
  </ion-card>
  <ion-card>
    <ion-img src="assets/imagenes/live.jpg">

    </ion-img>
    <ion-card-header>
      <ion-card-title>
        La fe del Liverpool le lleva a Madrid
      </ion-card-title>
      <ion-card-subtitle>
        Dos goles de Origi y otros dos de Wijnaldum obran el milagro ante el Barça y llevan a los de Klopp a la final del Metropolitano.
      </ion-card-subtitle>

    </ion-card-header>
  

    
    
  </ion-card>
  <ion-card>
    <ion-img src="assets/imagenes/wanda.jpg">

    </ion-img>
    <ion-card-header>
      <ion-card-title>
        La final será el próximo 1 de junio del 2019
      </ion-card-title>
      <ion-card-subtitle>
         La capital del país, acogerá la final de la competición europea que se jugará concretamente en el estadio Wanda Metropolitano. Un estadio el cual se inauguró en 2017 con una capacidad de 67.829 espectadores y está reconocido por la UEFA como estadio de máxima categoría.
      </ion-card-subtitle>

    </ion-card-header>
  

    
    
  </ion-card>




