<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button text="volver" defaultHref="tab1"></ion-back-button>
        
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="verToast()">
          <ion-icon slot="icon-only" name="md-football"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        NOSOTROS
      </ion-title>
    </ion-toolbar>
  </ion-header>



<ion-content padding class="bg-image">
  
<ion-list>
  <ion-item *ngFor="let entry of form">
    <ion-label>{{entry.val}}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-item>
    <ion-button color="warning"
    (click)="verActionSheet()">Notificacion</ion-button>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar  color="dark">
      <ion-buttons slot="end">
          <ion-button (click)="verToast()">
            <ion-icon slot="icon-only" name="md-football"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-footer>