<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button text="volver" defaultHref="tab1"></ion-back-button>
        
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="verToast()">
          <ion-icon slot="icon-only" name="md-football"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        NOSOTROS
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content padding>
      <h2>Integrantes</h2>
      <ion-list>
        <ion-item>
          <ion-label>Héctor</ion-label>
          <ion-checkbox [(ngModel)]="hector" (ionChange)="actualizaNombre()" Fútbol></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Luis</ion-label>
          <ion-checkbox Luis></ion-checkbox>
        </ion-item>
       
      </ion-list>
    

<ion-item>
    <ion-button color="warning"
    (click)="verActionSheet()">Notificacion</ion-button>
  </ion-item>

</ion-content>
