<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="verToast()">
        <ion-icon slot="icon-only" name="ios-football"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="verToast()">
        <ion-icon slot="icon-only" name="md-football"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Deportes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

  <ion-card>
    <ion-img src="assets/imagenes/logocha.jpg">

    </ion-img>
    <ion-card-header>
      <ion-card-title color="light">
        UEFA Champions League
      </ion-card-title>
      <ion-card-subtitle>
        Enterate acá de la actulidad de la UEFA Champions League
      </ion-card-subtitle>

    </ion-card-header>
    <ion-button color="light" (click)="IrChampions()">
      Ir a Champions
    </ion-button>

  </ion-card>

  <ion-card>
    <ion-img src="assets/imagenes/logoeu.jpg">

    </ion-img>
    <ion-card-header>
      <ion-card-title color="light">
        UEFA Europa League
      </ion-card-title>
      <ion-card-subtitle>
        Enterate acá de la actulidad de la UEFA EUROPA LEAGUE
      </ion-card-subtitle>

    </ion-card-header>
    <ion-button color="light" (click)="IrEuropa()">
      Ir a Europa League
    </ion-button>

  </ion-card>
  
  <ion-card>
    <ion-button color="warning" (click)="irNosotros()">TRIVIA</ion-button>
  </ion-card>




</ion-content>