<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="verToast()">
        <ion-icon slot="icon-only" name="ios-football"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="verToast()">
        <ion-icon slot="icon-only" name="md-football"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Deportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/imagenes/logocha.jpg">

    </ion-img>
    <ion-card-header>
      <ion-card-title>
        UEFA  CHAMPIONS LEAGUE 
      </ion-card-title>
      <ion-card-subtitle>
        Enterate acá de la actulidad de la UEFA CHAMPIONS LEAGUE
      </ion-card-subtitle>

    </ion-card-header>
    <ion-button color="warning" (click)="IrChampions()">
      IR a CHAMPIONS
    </ion-button>
    
  </ion-card>

  <ion-card>
    <ion-img src="assets/imagenes/logoeu.jpg">

    </ion-img>
    <ion-card-header>
      <ion-card-title>
        UEFA  EUROPA LEAGUE 
      </ion-card-title>
      <ion-card-subtitle>
        Enterate acá de la actulidad de la UEFA EUROPA LEAGUE
      </ion-card-subtitle>

    </ion-card-header>
    <ion-button color="warning" (click)="IrEuropa()">
      IR a EUROPALEAGUE
    </ion-button>
    
  </ion-card>
  <ion-item>
    <ion-button color="success" (click)="IrCheckBox()">
      Ir a casillas de verificacion
    </ion-button>
  </ion-item>



</ion-content>
